# python
__pycache__/
*.pyc
__pycharm__/
*.egg-info
.venv/
.win*
.ace-tool/
# results
results/
/models
logs/
docs/
context*
*.log
*/log/

# latex
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# paper
microgrid-paper/sections/*.tex
microgrid-paper/figures/tiff/*.tiff
microgrid-paper/figures/pdf/
microgrid-paper/figures/png/
microgrid-paper/figures/graphical-abstract
microgrid-paper/main.*
microgrid-paper/figures/tikz/*.xdv
microgrid-paper/submission/
microgrid-paper/ref/
