# python
__pycache__/
*.pyc
__pycharm__/
*.egg-info
.venv/
.win*
.ace-tool/
# results
results/
/models
logs/
docs/
context*
*.log
*/log/
kaggle

# latex
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# paper
microgrid-paper/
